{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'fontawesome/js/all.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Home</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}
  </head>
  <body>
    {% comment %} <div class='h-screen w-screen'>
      <div class=" w-screen h-[70px] bg-green-500 fixed">
        header
        <button class="p-5 bg-blue-gray-400" id="b1">click me</button>
      </div>
      <div class="h-screen w-[300px] top-[70px] bg-red-500 fixed" id="sidebar">
        sidebar
      </div>

      <div class="left-[300px] top-[70px] bg-blue-gray-400  h-[100%] fixed overflow-auto  w-[100%]" id="content">
        {% block content %}
      
        {% endblock content %}
      </div> 
    </div> {% endcomment %}
    {% comment %} <div class=" w-screen h-[70px] bg-green-500 fixed">
      header
    </div>
    <div class="h-screen w-[300px] top-[70px] bg-red-500 fixed">
      sidebar
    </div>
  
    <div class="ms-[300px] top-[70px] bg-blue-gray-400 w-[100%] h-[100%]">
      {% block content %}
    
      {% endblock content %}
    </div> {% endcomment %}
 

   <header class="p-5 bg-black w-full text-white">This is header</header>

    <div class="min-h-screen bg-gray-200 w-full flex">
      <aside class="w-[200px] bg-green-400 p-4">
        <div>
          <button id="loadDashboard">click me</button>
          <button id="loadUsermanagement">click me too</button>
          <a href="" id="loadDashboard">
            <i class="fa-solid fa-house"></i>Dashboard</a>
        </div>
        <div>
          <a href="" id="loadUsermanagement">
            <i class="fa-solid fa-users"></i>User Management</a>
        </div>
      </aside>
      <main class="flex-1" id="content">
        {% block content %}

        {% endblock %}
      </main>
    </div>

    <footer class="bg-blue-gray-500 p-5"></footer>

    <script src="{% static 'js/index.js' %}">
    </script>
  </body>
</html>
