{% extends "Main/index.html" %}

{% block content %}
    
    <div class="bg-green-500 h-[100%] rounded-[10px] p-5 animate-fade-up" id="dashboard">
        <div class=" w-[100%] flex justify-center items-center mb-3">
            <h1 class="text-[40px]">Overview</h1>
            <button class="focus:bg-black">cick me</button>
            <form action="{% url 'pointofsale' %}">
                <input type="submit" value="Go to Google" />
            </form>
        </div>
    </div>

{% endblock %}